{
  "isAutofishEnabled": true,
  "multiRod": false,
  "isOpenWaterDetectEnabled": true,
  "noBreak": true,
  "persistentMode": false,
  "useSoundDetection": false,
  "forceMPDetection": false,
  "recastDelay": 500,
  "randomPercent": 0,
  "reelInDelay": 1,
  "clearLagRegex": "\\[ClearLag\\] Removed [0-9]+ Entities!"
}